<h4>Beacon Summary List</h4>
<div ng-repeat="beacon in beacons" class="list-group">
    <div class="list-group-item">
        <beacon-summary beacon="beacon"></beacon-summary>
        <button type="button" ng-model="dashboardUiState.isOfferingAssistance" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
            Offer Assistance
        </button>
        <button type="button" ng-model="dashboardUiState.isReviewingOfferOfAssistance" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
            Review Offer of Assistance
        </button>
    </div>
</div>
