<h4>Beacon Summary List</h4>
<div ng-repeat="marker in markers" class="list-group">
    <div class="list-group-item">
        <beacon-summary beacon="marker"></beacon-summary>
        <button type="button" ng-model="status.offerAssistance" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
            Offer Assistance
        </button>
        <button type="button" ng-model="status.showReviewAssistancePartial" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
            Review Offer of Assistance
        </button>
    </div>
    {{status.offerAssistance}}
</div>
