<div class="full-height" ng-controller="CascadingCollapseController as controller">
  <div class="db-btn-col">
    <button type="button" class="db-btn btn-primary center-block" ng-model="cascadingCollapse.showMidColumn" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
      My<br>
      Company
    </button>
  </div>
  <div class="top container-fluid">
    <div class="col-lg-2 panel panel-default" collapse="!cascadingCollapse.showMidColumn" ng-include src="'templates/beaconSummaryList.html'"></div>
    <div class="col-lg-2 panel panel-default" collapse="!cascadingCollapse.showRightColumn" ng-include src="'templates/request.html'" ng-controller="requestController"></div>
    <div class="col-lg-2 panel panel-default" ng-show="userSelectionService.currentlySelectedBeacon" ng-include src="'templates/beaconDetails.html'"></div>
    <div class="col-lg-2 panel panel-default" collapse="!status.showReviewAssistancePartial" ng-include src="'templates/reviewAssistance.html'"></div>
    <div class="col-lg-2 panel panel-default" collapse="!status.offerAssistance" ng-include src="'templates/respond.html'" ng-controller="respondController"></div>
  </div>
  <div class="footer full-width" ng-include src="'templates/map.html'" ng-controller="LeafletController"></div>
</div>