<h4>Create Beacon</h4>
<div>
  <form method="post">
    <div class="ngdialog-message">
      <div class="form-group">
        <label>Job Title:</label>
        <input class="form-control" type="text" name="title" autofocus="autofocus" id="title" required ng-model="newBeaconData.title" />
      </div>
      <div class="form-group">
        <label>Job Description:</label>
        <input class="form-control" type="text" name="description" id="description" required ng-model="newBeaconData.description" />
      </div>
      <div class="form-group">
        <label>Your Organization:</label>
        <input class="form-control" type="text" name="organization" id="organization" required ng-model="newBeaconData.organization" />
      </div>
      <div class="form-group">
        <label>Latitude:</label>
        <input class="form-control" type="text" name="lat" id="lat" required ng-model="newBeaconData.latitude" readonly />
      </div>
      <div class="form-group">
        <label>Longitude:</label>
        <input class="form-control" type="text" name="lon" id="lon" required ng-model="newBeaconData.longitude" readonly />
      </div>
    </div>
    <div class="ngdialog-buttons">
      <button class="btn" type="button" ng-click="submitNewBeacon()">Submit Beacon</button>
      <button class="btn" type="button" ng-click="deleteNewBeacon()">Cancel</button>
    </div>
  </form>
</div>