<div>
  <form method="post">
    <div class="ngdialog-message">
      <h4>
        Organization {{ngDialogData.org}} has requested your assistance at {{ngDialogData.lat}}, {{ngDialogData.lng}}. <br/>
      </h4>
      <div class="form-group">
        <label>Which organization do you represent?</label>
        <input class="form-control" type="text" name="responderName" id="responderName" required ng-model="assistForm.responderName" />
      </div>
      <div class="form-group">
        <label>How many people can you send?</label>
        <input class="form-control" type="number" name="numResponders" id="numResponders" required ng-model="assistForm.numResponders" />
      </div>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="assistForm.offerAssistance(); confirm(ngDialogData)">Assist</button>
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="assistForm.declineAssistance(); closeThisDialog('button')">Stuff 'Em</button>
    </div>
  </form>
</div>
