/* Here lie the classes required for the layout of the UI components. */

.bg-map-container {
  @extend .bg-full-width;
  position: absolute;
  top: $header-height;
  bottom: 0px;
  z-index: -100;
}

.bg-header-container {
  @extend .bg-full-width;
  @extend .bg-shadow;
  height: $header-height;
}

.bg-beacons-control-container {
  position: absolute;
  left: $beacons-btn-margin;
  top: $beacons-btn-margin + $header-height;
}

.dashboard-beacons-left {
  @extend .bg-ui-control-base;
  left: $beacons-left-container-left;
  width: $beacons-left-container-width;
  max-height: 800px;
  border-top-left-radius: 0px;
  z-index: 8;
  /* TODO: Implement border to subtract from total width */
}

.dashboard-beacons-right {
  @extend .bg-ui-control-base;
  left: $beacons-right-container-left;
  top: $right-header-top;
  width: $beacons-left-container-width;
  max-height: 780px;
  z-index: 11;
  clip: rect(0px, 10000px, 10000px, -20px);
  @include border-bottom-radius(0px);
}

.dashboard-beacons-right-body {
  @extend .bg-ui-control-base;
  left: 0px;
  top: $right-header-top - 1;
  width: $beacons-left-container-width;
  max-height: 780px;
  z-index: 11;
  clip: rect(0px, 10000px, 10000px, -20px);
  @include border-top-radius(0px);
  @include border-bottom-radius($border-radius-base);
}

.dashboard-beacons-right-header-contents {
  margin: 0 auto;
  // This has the effect of centering the header contents
  display: table;
}

.bg-bc-beacons-btn {
  @extend .btn;
  @extend .bg-shadow;
  width: $beacons-btn-width;
  height: $beacons-btn-height;
  position: absolute;
  padding: 6px 6px;
  background-color: white;
}

.bg-bc-beacons-btn-selected {
  width: $beacons-btn-width + $beacons-btn-margin;
  @include border-right-radius(0px);
  z-index: 10;
  clip: rect(-20px, $beacons-btn-width + $beacons-btn-margin, 1000px, -20px)
}
