// Override bootstrap variables
$list-group-border-radius: 0px;

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/buttons';
@import 'bootstrap/list-group';
@import 'bootstrap/forms';
@import 'bootstrap/media';
@import 'font-awesome';

$header-height: 20px;
$beacons-btn-width: 79px;
$beacons-btn-height: $beacons-btn-width + 12px;
$beacons-btn-margin: 18px;
$beacons-left-container-left: $beacons-btn-width + $beacons-btn-margin;
$beacons-left-container-width: 300px;
$beacons-right-container-left: $beacons-left-container-left + $beacons-left-container-width + $beacons-btn-margin;

.bg-shadow {
  box-shadow: 0px 0px 15px #666666;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  padding: 0 .5em;
}

.bg-full-width {
  width: 100%;
}

.bg-header-container {
  @extend .bg-full-width;
  @extend .bg-shadow;
  height: $header-height;
}

.bg-beacons-control-container {
  position: absolute;
  left: $beacons-btn-margin;
  top: $beacons-btn-margin + $header-height;
}

.bg-map-container {
  @extend .bg-full-width;
  position: absolute;
  top: $header-height;
  bottom: 0px;
  z-index: -100;
}

/* The Create Beacon button is transparent */
.bg-transparent-btn {
  @extend .btn;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.dashboard-beacons-base {
  @extend .bg-shadow;
  position: absolute;
  border: 0px;
  margin: 0px;
}
.dashboard-beacons-left {
  @extend .dashboard-beacons-base;
  left: $beacons-left-container-left;
  width: 300px;
  max-height: 600px;
  overflow: hidden;
  /* TODO: Implement border to subtract from total width */
}
.dashboard-beacons-right {
  @extend .dashboard-beacons-base;
  left: $beacons-right-container-left;
  top: 20px;
  width: $beacons-left-container-width;
  max-height: 580px;
}

.bg-db-beacons-btn {
  @extend .btn;
  @extend .bg-shadow;
  //@include square($beacons-btn-size);
  width: $beacons-btn-width;
  height: $beacons-btn-height;
  position: absolute;
  padding: 6px 6px;
  background-color: white;
}

.bg-wide-btn {
  display: block;
  margin: 6px auto 6px auto;
  width: 95%;
}

.bg-half-btn {
  margin: 6px;
  width: 45%;
}

.bg-vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bg-borderless-button {
  line-height: 0;
  padding: 0;
}

/* Form Inputs */
.bg-border-bottom {
  border-bottom: 1px solid #ddd;
}

.bg-form-control {
  @extend .form-control;
  margin: 6px 0px;
}

/* Beacon Summary Directive */
$review-btn-width: 30px;

.bg-beacon-list-group {
  @extend .list-group;
  margin-bottom: 0px;
}

$beacon-summary-vertical-padding: 14px;

/* Closeable Panels: Offer and Review Assistance */
// TODO: Nest these
.bg-closeable-header-container {
  height: 30px;
  width: 100%;
  background-color: lightgray;
  overflow: hidden;
}
// TODO: This should be a general-purpose class for centering
.bg-closeable-header {
  margin: 0 auto;
  // This has the effect of centering the header contents
  display: table;
}
.bg-close-btn-container {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px
}
// This applies the FontAwesome 'X' icon to the close button's contents
.bg-close-btn:after {
  content: $fa-var-close
}

/* Colored Container: Beacon Details and Beacon List */
colored-container {
  @extend .list-group-item;
  height: $beacons-btn-height;
  padding: 0px;
  border: 0px;
  border-bottom: 1px solid #ddd;
}
$bg-cc-bar-width: 10px;
.bg-cc-container {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: $beacons-left-container-width - 2*$bg-cc-bar-width;
  padding: $bg-cc-bar-width;
}
.bg-cc-colored-bar {
  display: inline-block;
  height: 100%;
  width: $bg-cc-bar-width;
  padding-left: 0px;
  background-color: #D02643;
}

/* Icon Container */
.bg-ic-container {
  @extend .media;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.bg-ic-left {
  @extend .media-left;
  @extend .media-middle;
  padding-right: 20px;
}
.bg-ic-right {
  @extend .media-body;
  @extend .media-middle;
  @extend .bg-full-width;
}
