@import '_imports';
@import '_variables';
@import 'modules/_buttons';
@import 'modules/_entityCard';

.bg-shadow {
  box-shadow: 0px 0px 15px #666666;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  padding: 0 .5em;
}
centered-image {
  display: block;
}
.btn:focus {
  outline: none;
}

.borderless {
  border: none;
}

.bg-full-width {
  width: 100%;
}
.bg-no-padding {
  padding: 0;
}

.bg-header-container {
  @extend .bg-full-width;
  @extend .bg-shadow;
  height: $header-height;
}

.bg-beacons-control-container {
  position: absolute;
  left: $beacons-btn-margin;
  top: $beacons-btn-margin + $header-height;
}

.bg-map-container {
  @extend .bg-full-width;
  position: absolute;
  top: $header-height;
  bottom: 0px;
  z-index: -100;
}

/* The Create Beacon button is transparent */
.bg-transparent-btn {
  @extend .btn;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.dashboard-beacons-base {
  @extend .bg-shadow;
  position: absolute;
  border: 0px;
  margin: 0px;
}
.dashboard-beacons-left {
  @extend .dashboard-beacons-base;
  left: $beacons-left-container-left;
  width: $beacons-left-container-width;
  max-height: 600px;
  border-top-left-radius: 0px;
  z-index: 8;
  /* TODO: Implement border to subtract from total width */
}
.dashboard-beacons-right-body {
  @extend .dashboard-beacons-base;
  left: $beacons-right-container-left;
  top: $right-header-height + $right-header-top;
  width: $beacons-left-container-width;
  max-height: 580px;
  z-index: 11;
  clip: rect(0px, 10000px, 10000px, -20px);
  @include border-top-radius(0px);
}
.dashboard-beacons-right-header {
  @extend .dashboard-beacons-base;
  left: $beacons-left-container-left + $beacons-left-container-width;
  top: $right-header-top;
  width: $beacons-btn-margin + $beacons-left-container-width;
  max-height: $right-header-height;
  padding-left: $beacons-btn-margin;
  overflow: hidden;
  z-index: 7;
  clip: rect(-20px, 10000px, 10000px, 0px);
  @include border-left-radius(0px);
  border-bottom-right-radius: 0px;
}

.bg-db-beacons-btn {
  @extend .btn;
  @extend .bg-shadow;
  //@include square($beacons-btn-size);
  width: $beacons-btn-width;
  height: $beacons-btn-height;
  position: absolute;
  padding: 6px 6px;
  background-color: white;
}
.bg-db-beacons-btn-selected {
  width: $beacons-btn-width + $beacons-btn-margin;
  @include border-right-radius(0px);
  z-index: 10;
  clip: rect(-20px, $beacons-btn-width + $beacons-btn-margin, 1000px, -20px)
}

.bg-wide-btn {
  display: block;
  margin: 6px auto 6px auto;
  width: 95%;
}

.bg-half-btn {
  margin: 6px;
  width: 45%;
}

.bg-vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bg-borderless-button {
  line-height: 0;
  padding: 0;
}
.bg-no-border-radius {
  border-radius: 0px;
}

/* Form Inputs */
.bg-border-bottom {
  border-bottom: 1px solid #ddd;
}

.bg-input-margin {
  margin: 6px 0px;
}

.bg-form-control {
  @extend .form-control;
  @extend .bg-input-margin;
}

/* Beacon Summary Directive */
$review-btn-width: 30px;

.bg-list-group {
  @extend .list-group;
  margin-bottom: 0px;
}

$beacon-summary-vertical-padding: 14px;

/* Colored Container: Beacon Details and Beacon List */
colored-container {
  @extend .list-group-item;
  height: $beacons-btn-height;
  padding: 0px;
  border-left: 0px;
}
$bg-cc-bar-width: 10px;
.bg-cc-container {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: $beacons-left-container-width - 2*$bg-cc-bar-width;
  padding: 9px 5px 9px $bg-cc-bar-width;
}
.bg-cc-colored-bar {
  display: inline-block;
  height: 100%;
  width: $bg-cc-bar-width;
  padding-left: 0px;
  background-color: #D02643;
}

/* Icon Container */
.bg-ic-container {
  @extend .media;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.bg-ic-left {
  @extend .media-left;
  @extend .media-middle;
  padding-right: 20px;
}
.bg-ic-left-innerdiv {
  width: 32px;
}
.bg-ic-right {
  @extend .media-body;
  @extend .media-middle;
  @extend .bg-full-width;
}
