// Override bootstrap variables
$list-group-border-radius: 0px;

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/buttons';
@import 'bootstrap/list-group';
@import 'font-awesome';

$header-height: 22px;
$beacons-btn-size: 79px;
$beacons-btn-margin: 18px;
$beacons-left-container-left: $beacons-btn-size + $beacons-btn-margin;
$beacons-left-container-width: 300px;
$beacons-right-container-left: $beacons-left-container-left + $beacons-left-container-width + $beacons-btn-margin;

td {
  padding: 0 .5em;
}

.bg-full-width {
  width: 100%;
}

.bg-header-container {
  @extend .bg-full-width;
  height: $header-height;
}

.bg-beacons-control-container {
  position: absolute;
  left: $beacons-btn-margin;
  top: $beacons-btn-margin + $header-height;
}

.bg-map-container {
  @extend .bg-full-width;
  position: absolute;
  top: $header-height;
  bottom: 0px;
  z-index: -100;
}

/* The Create Beacon button is transparent */
.bg-transparent-btn {
  @extend .btn;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.dashboard-beacons-left {
  position: absolute;
  left: $beacons-left-container-left;
  width: 300px;
  max-height: 600px;
  border: 0px;
  margin: 0px;
  /* Wait for sass to implement border to subtract from total width */
}
.dashboard-beacons-right {
  position: absolute;
  left: $beacons-right-container-left;
  top: 20px;
  width: $beacons-left-container-width;
  max-height: 580px;
  border: 0px;
  margin: 0px;
}

.bg-db-beacons-btn {
  @extend .btn;
  @include square($beacons-btn-size);
  position: absolute;
  padding: 6px 6px;
}

.bg-wide-btn {
  display: block;
  margin: 6px auto 6px auto;
  width: 95%;
}

.bg-half-btn {
  margin: 6px;
  width: 45%;
}

/* Beacon Summary Directive */
$review-btn-width: 30px;

.bg-beacon-list-group {
  @extend .list-group;
  margin-bottom: 0px;
}

$beacon-summary-vertical-padding: 8px;

.bg-beacon-summary-container {
  @extend .list-group-item;
  height: $beacons-btn-size;
  padding: $beacon-summary-vertical-padding 8px;
}

.bg-beacon-summary-content {
  height: $beacons-btn-size - 2*$beacon-summary-vertical-padding;
}

.bg-bs-text-container {
  @extend .bg-beacon-summary-content;
  position: absolute;
  left: 8px;
  right: $review-btn-width;
}

.bg-bs-review-btn-container {
  @extend .bg-beacon-summary-content;
  position: absolute;
  right: 8px;
  width: $review-btn-width;
}

/* Closeable Panels: Offer and Review Assistance */
// TODO: Nest these
.bg-closeable-header-container {
  height: 30px;
  width: 100%;
  background-color: lightgray;
  overflow: hidden;
}
// TODO: This should be a general-purpose class for centering
.bg-closeable-header {
  margin: 0 auto;
  // This has the effect of centering the header contents
  display: table;
}
.bg-close-btn-container {
  width: 32px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px
}
// This applies the FontAwesome 'X' icon to the close button's contents
.bg-close-btn:after {
  content: $fa-var-close
}