<!-- This directive defines a summary for a beacon that will display the location
and description (e.g., Amsterdam, NY, Dig two hols, see pdf for more...).

It is visible in two places:
    1. In the list of beacons under My Beacons
    2. At the top of the detailed view

Ignore the potential problem from long descriptions for now.
-->
<li class="bg-beacon-summary-container">
    <div id="beacon-summary" class="bg-bs-text-container small" ng-click="onSelectBeacon(beacon)">
        <h5><organization-label organization="beacon.organization"></organization-label></h5>
        {{beacon.title}}, {{beacon.description}}
    </div>
    <div class="bg-bs-review-btn-container">
        <button
          id="openReviewAssistanceBtn"
          class="btn btn-sm btn-default"
          type="button"
          ng-show="beacon.responses.length > 0"
          ng-click="onReviewAssistance(beacon)">
            <i class="fa fa-anchor"></i>
        </button>
    </div>
</li>
