<!-- This directive defines a summary for a beacon that will display the location
and description (e.g., Amsterdam, NY, Dig two hols, see pdf for more...).

It is visible in two places:
    1. In the list of beacons under My Company
    2. At the top of the detailed view

Ignore the potential problem from long descriptions for now.
-->
<!-- TODO: Actually do something with the non-existent beacon-summary class. It's only here for my AATs to select. -->
<div class="beacon-summary" ng-click="onSelectBeacon(beacon)">
    <div class="small">
        <organization-label organization="beacon.organization"></organization-label><br>
        {{beacon.title}}<br>
        {{beacon.description}}
    </div>
    <button class="btn btn-sm btn-default" type="button" ng-show="beacon.responses.length > 0" ng-click="onReviewAssistance(beacon)">
        Review Offers
    </button>
</div>