<input type="text"
       id="dtpTimeId"
       name="{{dtpDateId}}"
       placeholder="{{dtpDatePlaceholder}}"
       class="bg-form-control"
       ng-model="dtpModel"
       data-date-format="yyyy-MM-dd"
       data-min-date="today"
       data-autoclose="1"
       data-icon-left="fa fa-chevron-left"
       data-icon-right="fa fa-chevron-right"
       bs-datepicker
       style="float: left; width: 52%;">
<input type="text"
       id="{{dtpTimeId}}"
       name="{{dtpTimeId}}"
       placeholder="Time"
       class="bg-form-control"
       ng-model="dtpModel"
       data-autoclose="1"
       bs-timepicker
       style="float: right; width: 46%;">