<input type="text"
       id="startDate"
       name="startDate"
       placeholder="Start Date"
       class="form-control"
       ng-model="beaconData.startDate"
       data-date-format="yyyy-MM-dd"
       data-min-date="today"
       data-autoclose="1"
       data-icon-left="fa fa-chevron-left"
       data-icon-right="fa fa-chevron-right"
       bs-datepicker
       style="float: left; width: 52%;">
<input type="text"
       id="startTime"
       name="startTime"
       placeholder="Time"
       class="form-control"
       ng-model="beaconData.startDate"
       data-min-date="today"
       data-autoclose="1"
       bs-timepicker
       style="float: right; width: 46%;">