.container {
    width: 100%;
    overflow: hidden;
}

.left {
    float: left;
    width: 392px;
    height: 600px;
    border: 1px solid red;
}

.fill {
    margin-left: 392px;
}

/* This column contains the My Company button */
.db-btn-col {
    float: left;
    width: 90px;
    border: 1px solid green;
}

/* This column floats to the right of db-btn-col */
.db-mid-col {
    float: left;
    margin-left: 0px;
    width: 300px;
    border: 1px solid orange;
}

.db-btn {
    width: 70px;
    height: 70px;
    padding: 6px 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    /* This prevents a user from selecting the text on the button */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}