.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}

/* dup */
.header {
    margin: auto 0px;
    left: 0px;
    right: 0px;
    padding: auto .5em;
    /* this will float above or behind the map */
    position: absolute;
    float: top;
    height: 22px;
    overflow: hidden;
    border: 1px solid orange;
    background: white;
}
.body {
    margin-top: 22px;
    height: 100%;
}

.map {
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    border: 1px solid green;
    z-index: -100;
}

/* The Create Beacon button is transparent */
.trans-btn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dashboard-beacons-left {
    position: absolute;
    left: 106px;
    top: 40px;
    width: 300px;
    max-height: 600px;
    border: 0px;
    margin: 0px;
}
.dashboard-beacons-right {
    position: absolute;
    left: 424px;
    top: 60px;
    width: 300px;
    max-height: 580px;
    border: 0px;
    margin: 0px;
}

.dashboard-beacons-btn {
    position: absolute;
    left: 18px;
    top: 40px;
    width: 70px;
    height: 70px;
    padding: 6px 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    /* This prevents a user from selecting the text on the button */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}