<div class="container">
  <div class="left">
    <div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle">
        My Company <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="choice in markers">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <!-- Setting height and width to 100% break the tiles (results in an empty homePage) -->
    <leaflet defaults="defaults" center="washdc" controls="controls" markers="markers" event-broadcast="events" height="600px" width="99%"></leaflet>
  </div>
</div>