<div>
  <form method="post">
    <div class="ngdialog-message">
      <div>
        Organization: <input type="text" name="org" autofocus="autofocus" id="org" required ng-model="ngDialogData.org" />
      </div>
      <div>
        Latitude: <input type="text" name="lat" id="lat" required ng-model="ngDialogData.lat" readonly />
      </div>
      <div>
        Longitude: <input type="text" name="lon" id="lon" required ng-model="ngDialogData.lng" readonly />
      </div>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="requestController.submitForm(ngDialogData); confirm()">Submit Form</button>
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
    </div>
  </form>
</div>