<div>
  <form method="post">
    <div class="ngdialog-message">
      <div>
        Organization {{ngDialogData.org}} has requested your assistance at {{ngDialogData.lat}}, {{ngDialogData.lng}} on {{ngDialogData.date}}. <br/>
        What would you like to do? <br/>
      </div>
      <div>
        How many people can you send? <input type="number" name="people" id="people" required ng-model="assistForm.people" />
      </div>
    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="assistForm.offerAssistance(); confirm()">Assist</button>
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="assistForm.declineAssistance(); closeThisDialog('button')">Stuff 'Em</button>
    </div>
  </form>
</div>
