<h4>Beacon Details</h4>
<div>
    <div>
        <label>id:</label>
        {{dashboardUiState.currentlySelectedBeacon.id}}
    </div>
    <div>
        <label>Job Title:</label>
        {{dashboardUiState.currentlySelectedBeacon.title}}
    </div>
    <div class="form-group">
        <label>Job Description:</label><br/>
        {{dashboardUiState.currentlySelectedBeacon.description}}
    </div>
    <accepted-assistance-summary
        ng-show="dashboardUiState.currentlySelectedBeacon.acceptedAssistance"
        accepted-assistance="dashboardUiState.currentlySelectedBeacon.acceptedAssistance">
    </accepted-assistance-summary>
    <div class="form-group">
        <label>Your Organization:</label><br/>
        {{dashboardUiState.currentlySelectedBeacon.organization}}
    </div>
    <div class="form-group">
        <label>Latitude:</label>{{dashboardUiState.currentlySelectedBeacon.lat}}
        <label>Longitude:</label>{{dashboardUiState.currentlySelectedBeacon.lng}}
    </div>

    <button class="btn btn-sm btn-default" type="button" ng-model="dashboardUiState.isOfferingAssistance" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
        Offer Assistance
    </button>
    <!-- Prime use case for a directive. -->
    <button type="button" class="trans-btn full-width panel-footer" ng-model="dashboardUiState.isSelectingServices" btn-checkbox btn-checkbox-true=true btn-checkbox-false=false>
        Select Services - {{dashboardUiState.isSelectingServices}}
    </button>
</div>