<ul class="bg-list-group" ng-if="selectionState.currentBeacon">
  <colored-container class="disable-text-selection" navigate-to="dashboard.beacons.list">
    <div class="media bg-vertically-centered">
      <div class="media-left media-middle">
        <img src="images/arrow_left.png" alt="Collapse Beacon Details">
      </div>
      <!-- TODO: Remove duplication with listBeacons -->
      <div id="bg-bd-beacon-summary" class="media-body bg-full-width">
        <organization-label class="media-header" organization-id="selectionState.currentBeacon.senderId"></organization-label>
        <div class="small">
          {{selectionState.currentBeacon.title}}, {{selectionState.currentBeacon.description}}
        </div>
      </div>
      <open-review-assistance-button class="media-right media-middle" beacon="selectionState.currentBeacon"></open-review-assistance-button>
    </div>
  </colored-container>
  <li class="bg-list-group-item" ng-show="selectionState.currentBeacon.acceptedAssistance.length > 0">
    <div ng-repeat="acceptedAssistance in selectionState.currentBeacon.acceptedAssistance">
      <organization-card icon-url="images/icon_ring1.png" organization-id="acceptedAssistance.senderId"></organization-card>
      <ul class="bg-list-group">
        <contact-card class="list-group-item borderless" organization-id="acceptedAssistance.senderId"></contact-card>
        <icon-container class="list-group-item borderless" icon-url="images/orange_linemen.png">
          {{acceptedAssistance.numResponders}} on their way
        </icon-container>
        <icon-container class="list-group-item borderless" icon-url="images/wizard_calendar.png">
          {{acceptedAssistance.arrivalDate | date:'short'}}
        </icon-container>
      </ul>
    </div>
  </li>
  <li class="bg-list-group-item">
    <icon-container icon-url="images/wizard_dark_location.png">
      {{selectionState.currentBeacon.streetAddress}}<br>
      USNG: <ll-to-usng id="bg-bd-usng" lat="selectionState.currentBeacon.lat" lng="selectionState.currentBeacon.lng"></ll-to-usng>
    </icon-container>
  </li>
  <li class="bg-list-group-item">
    <icon-container icon-url="images/wizard_dark_linemen.png">
      {{selectionState.currentBeacon.numberOfPeople}} requested
    </icon-container>
  </li>
  <!-- TODO: Test this when I can consistently mock the backend during my AATs. -->
  <li class="bg-list-group-item" ng-if="selectionState.currentBeacon.senderId !== dataFromServer.currentOrganization.id">
    <button class="bg-wide-btn btn btn-sm btn-default" type="button" navigate-to="dashboard.beacons.detail.assist">
      Offer Assistance
    </button>
  </li>
</ul>
<div ng-if="!selectionState.currentBeacon">
  We were unable to locate the beacon you requested.
  <button class="btn btn-sm btn-default" type="button" navigate-to="dashboard.beacons.list">
    Go Back
  </button>
</div>
