<h4>Beacon Details</h4>
<div ng-show="selectionState.currentBeacon">
    <beacon-summary beacon="selectionState.currentBeacon" on-select-beacon="onSelectBeacon" on-review-assistance="onReviewAssistance"></beacon-summary>
    <div ng-show="selectionState.currentBeacon.acceptedAssistance">
        <accepted-assistance-summary accepted-assistance="selectionState.currentBeacon.acceptedAssistance"></accepted-assistance-summary>
    </div>
    <div class="form-group">
        <label>Location:</label>({{selectionState.currentBeacon.lat}}, {{selectionState.currentBeacon.lng}})
    </div>
    <button class="btn btn-sm btn-default" type="button" ng-click="onOfferAssistance()">
        Offer Assistance
    </button>
</div>
<div ng-show="!selectionState.currentBeacon">
    We were unable to locate the beacon you requested.
    <button class="btn btn-sm btn-default" type="button" ng-click="onGoBack()">
        Go Back
    </button>
</div>
