<!-- TODO: Fix this hack! I would like to make the right-header invisible when there is no right-body, but I'm only able
     TODO: to hide the right-body by this little max-height trick. Rather that figure out right-body, I'm cheating on
     TODO: right-header as well. -->
<div style="height: 30px;">
  <h5 class="dashboard-beacons-right-header-contents">Assistance Form</h5>
</div>
<form method="post" name="offerAssistanceForm" ng-show="selectionState.currentBeacon">
  <li class="list-group-item">
    <p id="bg-oa-header-paragraph">
      <organization-label organization-id="selectionState.currentBeacon.senderId"></organization-label> has requested your help.
    </p>
  </li>
  <li class="list-group-item">
    <label class="small">How many people can you send?</label>
    <input id="bg-oa-num-responders-input"
           class="form-control"
           type="number"
           name="numResponders"
           required
           ng-model="assistanceOffer.numResponders" />
  </li>
  <li class="list-group-item">
    <icon-container icon-url="images/wizard_calendar.png">
      <label for="bg-oa-arrival-date">When can they get there?</label>
      <date-time-picker dtp-model="assistanceOffer.arrivalDate"
                        dtp-date-id="bg-oa-arrival-date"
                        dtp-time-id="bg-oa-arrival-time"
                        dtp-date-placeholder="Arrival Date"
                        ng-required="true">
      </date-time-picker>
    </icon-container>
  </li>
  <li id="bg-oa-users-container"
      class="bg-list-group-item"
      ng-if="users.length > 0">
    <icon-container icon-url="images/wizard_dark_linemen.png">
      <table class="table">
        <tr ng-repeat="user in users">
          <td style="width: 13px;"><input type="checkbox" ng-model="user.include"></td>
          <td align="left">{{user.fullName}}</td>
        </tr>
      </table>
    </icon-container>
  </li>
  <!-- TODO: Make a directive for the double-wide buttons. -->
  <table class="bg-dw-button-table">
    <td class="bg-no-padding">
      <button class="bg-full-width btn btn-sm btn-success" type="button" ng-click="respond(true)" ng-disabled="offerAssistanceForm.$invalid">Assist</button>
    </td>
    <td class="bg-no-padding">
      <button class="bg-full-width btn btn-sm btn-danger" type="button" ng-click="respond(false)">Stuff 'Em</button>
    </td>
  </table>
</form>
