<form method="post" ng-show="selectionState.currentBeacon">
  <p>
    <organization-label organization-id="selectionState.currentBeacon.senderId"></organization-label> has requested your help.
  </p>
  <div class="form-group">
    <label class="small">How many people can you send?</label>
    <input class="form-control" type="number" name="numResponders" id="numResponders" required ng-model="assistanceOffer.numResponders" />
  </div>
  <div class="form-group">
    <label class="small">When can <organization-label organization-id="selectionState.currentBeacon.senderId"></organization-label> expect assistance?</label>
    <p class="input-group" ng-controller="CalendarController">
      <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="assistanceOffer.arrivalDate" date-disabled="disabled(date, mode)" is-open="calendarOpened" ng-required="true" />
      <span class="input-group-btn">
        <button id="bg-oa-toggle-calendar"
                type="button"
                class="btn btn-default"
                ng-click="openCalendar($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <li class="bg-list-group-item">
    <icon-container icon-url="images/wizard_dark_linemen.png">
      <table class="table">
        <tr ng-repeat="user in users">
          <td style="width: 13px;"><input type="checkbox" ng-model="user.include"></td>
          <td align="left">{{user.fullName}}</td>
        </tr>
      </table>
    </icon-container>
  </li>
  <!-- TODO: Make a directive for the double-wide buttons. -->
  <table class="bg-dw-button-table">
    <td class="bg-no-padding">
      <button class="bg-full-width btn btn-sm btn-success" type="button" ng-click="respond(true)">Assist</button>
    </td>
    <td class="bg-no-padding">
      <button class="bg-full-width btn btn-sm btn-danger" type="button" ng-click="respond(false)">Stuff 'Em</button>
    </td>
  </table>
</form>
