<!-- TODO: Minimize surface area of each controller. For instance, MapClickMarkerController can be anywhere. -->
<div ng-controller="MapClickMarkerController">
  <form method="post" name="createBeaconForm" ng-controller="ColoredContainerHeightController">
    <colored-container height="coloredContainerHeight" class="media">
      <div class="media-left media-middle">
        <img src="images/arrow_left_gray.png" navigate-to="^.list">
      </div>
      <div class="media-body bg-full-width">
        <input id="bg-cb-title-input"
               class="bg-form-control"
               type="text"
               name="title"
               autofocus="autofocus"
               ng-model="beaconData.title"
               placeholder="Job Title"
               required />
        <textarea id="bg-cb-description-input"
                  class="bg-form-control"
                  msd-elastic
                  rows="3"
                  name="description"
                  ng-model="beaconData.description"
                  placeholder="Job Description"
                  style="max-width: 248px; max-height: 122px; resize: none;"
                  required>
        </textarea>
      </div>
    </colored-container>
    <li class="list-group-item" ng-controller="MouseLocationController">
      <icon-container icon-url="images/wizard_location.png">
        <toggle-editable-container edit-text="Requesting aid at HQ">
          <input id="bg-cb-street-address-input"
                 class="bg-form-control"
                 type="text"
                 name="streetAddress"
                 ng-model="beaconData.streetAddress"
                 placeholder="Street Address"
                 required />
          <input id="bg-cb-zip-input"
                 class="bg-form-control"
                 type="text"
                 name="zip"
                 ng-model="beaconData.zip"
                 placeholder="Zip"
                 required />
          <input id="bg-cb-usng-input"
                 class="bg-form-control"
                 type="text"
                 name="usng"
                 ng-model="beaconData.usng"
                 placeholder="USNG: {{mouseLocation.usng}}" />
        </toggle-editable-container>
      </icon-container>
    </li>
    <li class="list-group-item">
      <icon-container icon-url="images/wizard_calendar.png">
        <toggle-editable-container edit-text="Requesting aid immediately">
          <date-time-picker dtp-model="beaconData.meetingDate" dtp-date-id="bg-cb-meeting-date" dtp-time-id="bg-cb-meeting-time" dtp-date-placeholder="Date"></date-time-picker>
        </toggle-editable-container>
      </icon-container>
    </li>
    <li class="list-group-item">
      <icon-container icon-url="images/wizard_linemen.png">
        <toggle-editable-container edit-text="Requesting everyone">
          <input id="bg-cb-num-people-input"
                 class="bg-form-control"
                 type="text"
                 name="numberOfPeople"
                 ng-model="beaconData.numberOfPeople"
                 placeholder="Number of People (e.g., 6-8)"
                 required />
        </toggle-editable-container>
      </icon-container>
    </li>
    <li class="list-group-item">
      <icon-container icon-url="images/wizard_newutility.png">
        <div class="panel panel-default bg-input-margin">
          <div class="panel-heading">Recipients</div>

          <table class="table">
            <tr ng-repeat="recipient in possibleRecipients">
              <!-- What-eva! I do what I want!! -->
              <td style="width: 13px;"><input type="checkbox" ng-model="recipient.include"></td>
              <td align="left">{{recipient.organization.name}}</td>
            </tr>
          </table>
        </div>
      </icon-container>
    </li>
    <table class="bg-dw-button-table">
      <td class="bg-no-padding">
        <button class="bg-full-width btn btn-sm btn-success" type="button" ng-click="completeNewBeacon()" ng-disabled="createBeaconForm.$invalid">Submit Beacon</button>
      </td>
      <td class="bg-no-padding">
        <button class="bg-full-width btn btn-sm btn-default" type="button" navigate-to="^.list">Cancel</button>
      </td>
    </table>
  </form>
</div>
