<h4>Create Beacon</h4>
<div>
  <form method="post">
    <div>
      <div class="form-group">
        <input id="title"
               class="form-control"
               type="text"
               name="title"
               autofocus="autofocus"
               required
               ng-model="title"
               placeholder="Job Title" />
      </div>
      <div class="form-group">
        <input id="description"
               class="form-control"
               type="text"
               name="description"
               required
               ng-model="description"
               placeholder="Job Description" />
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Recipients</div>

        <table class="table" ng-repeat="recipient in possibleRecipients">
          <tr>
            <!-- What-eva! I do what I want!! -->
            <td style="width: 13px;"><input type="checkbox" ng-model="recipient.include"></td>
            <td align="left">{{recipient.entity.name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button class="btn btn-sm btn-success" type="button" ng-click="completeNewBeacon(true)">Submit Beacon</button>
      <button class="btn btn-sm btn-default" type="button" ng-click="completeNewBeacon(false)">Cancel</button>
    </div>
  </form>
</div>