<div>
  <form method="post">
    <div>
      <colored-container height="120" class="media">
        <div class="media-left media-middle">
          <img src="images/arrow_left.png" alt="Collapse Beacon Details">
        </div>
        <div class="media-body bg-full-width">
          <div class="form-group">
            <input id="title"
                   class="form-control"
                   type="text"
                   name="title"
                   autofocus="autofocus"
                   ng-model="beaconData.title"
                   placeholder="Job Title" />
          </div>
          <div class="form-group">
            <input id="description"
                   class="form-control"
                   type="text"
                   name="description"
                   ng-model="beaconData.description"
                   placeholder="Job Description" />
          </div>
        </div>
      </colored-container>
      <icon-container icon-url="images/wizard_location.png">
        <div class="form-group">
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="streetAddress"
                   ng-model="beaconData.streetAddress"
                   placeholder="Street Address" />
          </div>
          <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="city"
                   ng-model="beaconData.city"
                   placeholder="City" />
          </div>
        </div>
      </icon-container>
      <div class="panel panel-default">
        <div class="panel-heading">Recipients</div>

        <table class="table" ng-repeat="recipient in possibleRecipients">
          <tr>
            <!-- What-eva! I do what I want!! -->
            <td style="width: 13px;"><input type="checkbox" ng-model="recipient.include"></td>
            <td align="left">{{recipient.entity.name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button class="btn btn-sm btn-success" type="button" ng-click="completeNewBeacon(true)">Submit Beacon</button>
      <button class="btn btn-sm btn-default" type="button" ng-click="completeNewBeacon(false)">Cancel</button>
    </div>
  </form>
</div>