<li class="list-group-item">
  <organization-card icon-url="images/icon_ring1.png" organization-id="senderOrganization.id"></organization-card>
  <contact-card organization-id="senderOrganization.id"></contact-card>
</li>
<li class="list-group-item">
  <p id="bg-ra-offer-summary" class="small">
    <organization-label organization-id="currentResponse.senderId"></organization-label>
    offered to assist with {{currentResponse.numResponders}} people at {{currentResponse.arrivalDate}}.
  </p>
</li>
<div ng-if="currentBeacon.senderId === dataFromServer.currentOrganization.id">
  <button id="bg-ra-accept-button" class="bg-wide-btn btn btn-sm btn-success" type="button" ng-click="acceptAssistance()">Accept Assistance</button>
</div>
